
.pldsForm {
    width: 85%;
    margin-left: 318px;
    padding: 80px 3rem 1rem
  }

  table {
    width: 110%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  button {
    margin: 16px 8px;
  }

  .mat-header-cell{
    margin-left: 5 px;
    font-family: 'Courier New', Courier, monospace;
  }

